body {
	background-color: #333;
}

#splash {
	background-image: url("../Images/redCarpet.jpg");
	margin-top: -1%;
	margin-left: -1%;
	margin-right: -.1%;
	color: white;
	border-style: solid;
	border-color: black;
	border-width: 3px;
	height: 100%;
	z-index: 0;
}

#skip {
	margin: .5%;
	float: right;
}

#skip a {
	color: white;
}

#logo {
	display: none;
	z-index: 1;
}

#welcomeMessage {
	float: right;
}

#logoDisplay {
	float: left;
}
